{
	"presets" : ["es2015", "react"],
	"plugins" : [
		["module-resolver", {
			"alias": {
				"@pages": "./src/js/pages",
				"@navigation": "./src/js/navigation",
				"@components": "./src/js/components"
			}
		}]
	]
}
